body{
    background-color: rgb(238, 149, 17);
}

#titulo{
    background-color: rgb(238, 149, 17);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.display{
    margin-top: 2em;
    width: 400px;
    height: 500px;
    background-color: blueviolet;
    margin-left: 3em;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 15px 25px 25px rgba(20, 221, 228, 0.856);
    overflow: auto;
}

.tabla{
    background-color: rgba(57, 241, 241, 0.6);
    font-weight: bold;
    border-collapse: collapse;
    margin-left: 10em;
    border: 1px solid black;
    margin-right: 5em;
}

.tabla tr{
    border: 1px solid black;
}

.tabla label{
    font-weight: bold;
    margin-left: 1em;
}

.relleno{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#boton{
    margin-top: 1em;
    margin-left: 5em;
    margin-bottom: 1em;
    font-weight: bold;
}

a{
margin-left: 10em;
}

a:hover{  
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}