body{
    background-image:url("images/Fondo.jpeg");
    background-size:cover;
}

#CuadroInicio{
    margin-top: 5em;
    margin-left: 25em;
    margin-bottom: 3em;
    width: 500px;
    height: 400px;
    padding: 20px;
    background: rgba(14, 185, 185, 0.9);
    box-shadow: 0 15px 25px 25px rgba(9, 21, 180, 0.856);
}

#CuadroInicio td{
    padding-top: 1em;
    
}

#CuadroInicio td input{
    outline: none;
}

#CuadroInicio span{
    font-weight: bold;
}



button, a input{
    font-weight: bold;
}

.comprar{
    position: absolute;
    left:310;
}

a:hover{  
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #1b03f4,
                0 0 25px #1b03f4,
                0 0 50px #1b03f4,
                0 0 100px #1b03f4;
}

button{
    margin-left: 30em;
}
