body{
    background-color: rgb(210, 105, 0);
}


#CuadroInicio{
    text-align: center;
    margin:50 auto;
    width: 500px;
    height: 400px;
    padding: 20px;
    background: rgba(14, 185, 185, 0.9);
    box-shadow: 0 15px 25px 25px rgb(0,0,0);
}

#CuadroInicio h2{
    font-weight: bold;
    font-size: 35px;
    text-decoration:underline;
}

#CuadroInicio p, #CuadroInicio li{
    font-size: 20px;
    font-weight: bold;
}

#CuadroInicio li{
    list-style: none;
}


#CuadroInicio button{
    margin-top: 3em;
    font-weight: bold;
    font-size: 20px;
}

#CuadroInicio a:hover{  
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #1b03f4,
                0 0 25px #1b03f4,
                0 0 50px #1b03f4,
                0 0 100px #1b03f4;
}
